  <td>{{ caixa.id }}</td>
  <td>{{ caixa.valor }}</td>
  <td>{{ caixa.descricao }}</td>
  <td>{{ caixa.isEntrada ? "Entrada" : "Saída" }}</td>
  <td>{{ caixa.fiado ? "Sim" : "Não" }}</td>
  <td>{{ caixa.createdAt }}</td>
  <td>{{ caixa.updatedAt ? caixa.updatedAt : "Sem registro"}}</td>